/* Container full screen dan di tengah */
.containers {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f3f4f6;
  padding: 20px;
}

/* Box form */
.form-box {
  background-color: white;
  padding: 30px;
  border-radius: 16px;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}

/* Judul */
.form-title {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  margin-bottom: 20px;
}

/* Input group */
.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 6px;
  font-size: 14px;
  color: #333;
}

.form-group select {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

.form-group input {
  width: 100%;
  padding: 10px 14px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 14px;
}

/* Tombol */
.submit-button {
  width: 100%;
  padding: 12px;
  background-color: #2563eb;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.logout-button {
  margin-top: 15px;
  display: inline-block;
  text-align: center;
  width: 100%;
  padding: 12px;
  background-color: #eb2525;
  color: white;
  font-weight: bold;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.2s ease-in-out;
}

.submit-button:hover {
  background-color: #1d4ed8;
}
.logout-button:hover {
  background-color: #d81d1d;
}

/* Pesan sukses */
.error-message {
  margin-bottom: 20px;
  background-color: #f30c0c;
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}
.success-message {
  margin-bottom: 20px;
  background-color: rgb(145, 200, 26);
  color: #ffffff;
  padding: 12px;
  border-radius: 8px;
  text-align: center;
  font-weight: 500;
}