.empu-detail-section {
  background-color: #2e6b27;
  padding: 40px 0;
  text-align: center;
  margin-bottom: 3rem;
}

.empu-detail-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 200px;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
}

.empu-detail-text {
  color: white;
}

.empu-detail-text h1 {
  font-size: 50px;
  font-weight: bold;
  margin: 0;
}

.dividerss {
  height: 2px;
  width: 100%;
  background-color: white;
  margin: 10px auto;
}

.empu-detail-text p {
  margin: 0;
  font-size: 20px;
}

.empu-detail-image img {
  width: 250px;
  height: 250px;
  object-fit: cover;
  border-radius: 50%;
}

@media (max-width: 768px) {
  .empu-detail-container {
    flex-direction: column-reverse;
    gap: 30px;
    padding: 0 20px;
  }

  .empu-detail-text h1 {
    font-size: 36px;
  }

  .empu-detail-text p {
    font-size: 18px;
  }

  .empu-detail-image img {
    width: 200px;
    height: 200px;
  }
}


.judul-produk-empu {
  margin-bottom: 2rem;
  font-size: 1.5rem;
  font-weight: 500;
}